*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaleY;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.panel-body{
  font-size: 13px;
  padding: 5px;
}
.panel-body ul{
  text-align: left;
}
.panel-body ul li{
  margin-left: 35px;
}
@keyframes modal{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes category{
  0%{
    height: 0;
  }
  20%{
    height: 20vh;
  }
  40%{
    height: 40vh;
  }
  60%{
    height: 60vh;
  }
  80%{
    height: 80vh;
  }
  100%{
    height: 100vh;
  }
}
@keyframes loading_1{
  0%{
    transform: scaleY(1);
  }
  25%{
    transform: scaleY(0.7);
  }
  50%{
    transform: scaleY(1);
  }
  75%{
    transform: scaleY(1.3);
  }
  100%{
    transform: scaleY(1);

  }
}
@keyframes linearEffect{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(400%);
  }
}
